/* :host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
} */

.table-container {
  height: 550px;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 90%;
}

.role-select {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 180px;
}

mat-spinner {
  margin: auto;
}
